

.app {
  font-family: "system-ui, sans-serif";
  line-height: 1.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.flashcardContainer {
  display: inline-block;
}

html {
  --vandebron-gray: #283048;
  --vandebron-gray-lighten: #859398;
  --vandebron-white: #E6E6E6;
  --text-color: var(--vandebron-white);

  color: var(--text-color);
  
  background-image: linear-gradient(60deg, var(--vandebron-gray) 0%, var(--vandebron-gray-lighten) 100%);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}