
html {
  --vandebron-gray: #333D47;
  --vandebron-white: #E6E6E6;

  --accent-color-blue: #6d8296;
  --accent-color-deep-blue: #1f2d42;

  --text-color: var(--vandebron-white);
  --background-color: var(--vandebron-gray);
}